<h1>Modification du livre</h1>
<%= form_with model: @livre, local:true do |form| %>
    <p>
        <%= form.label :titre %>
        <%= form.text_field :titre %>
    </p>
    <p>
        <%= form.label :auteur %>
        <%= form.text_field :auteur %>
    </p>
    <p>
        <%= form.label :domaine %>
        <%= form.text_field :domaine %>
    </p>
<%= form.submit "modifier le livre" %>
<%end%>
